/* Base styles */
@tailwind base;

/* Component styles */
@tailwind components;

/* Utility styles */
@tailwind utilities;

/* Custom CSS variables */
:root {
  --foreground-color: #333333; /* Dark gray foreground color */
  --background-start-color: #fafafa; /* Light gray background start color */
  --background-end-color: #ffffff; /* White background end color */
}

/* Container styles */
.firstDiv {
  display: flex;
  flex-direction: row;
}

/* Background color class */
.bg {
  background-color: #7f7f7f; /* Medium gray background */
}

/* Flexbox container styles */
.secondDiv {
  display: flex;
  flex-direction: row;
}

/* Image size class */
.img {
  width: 100px;
}

/* Dark mode media query */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #ffffff; /* White foreground color */
    --background-start-color: #121212; /* Dark background start color */
    --background-end-color: #000000; /* Black background end color */
  }
}

/* Body styles */
body {
  color: var(--foreground-color);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-color)
    )
    var(--background-start-color);
}

/* Text balance utility */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
